body {
    font-family: 'Inconsolata', monospace;
    color: #EEEDF0;
    font-size: 35px;
    background-image: url(/images/bg-exercicios.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding-left: 23.5rem;
    margin-top: 4rem;
}

